<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{21,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,30}}</string>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,4},{13,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,30}}</string>
        <key>sourceSize</key>
        <string>{13,30}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,4},{20,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,30}}</string>
        <key>sourceSize</key>
        <string>{20,30}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,4},{19,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,30}}</string>
        <key>sourceSize</key>
        <string>{19,30}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,4},{23,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,30}}</string>
        <key>sourceSize</key>
        <string>{23,30}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,4},{18,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,30}}</string>
        <key>sourceSize</key>
        <string>{18,30}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,4},{20,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,30}}</string>
        <key>sourceSize</key>
        <string>{20,30}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,4},{20,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,30}}</string>
        <key>sourceSize</key>
        <string>{20,30}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,4},{21,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,30}}</string>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,4},{21,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,30}}</string>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>l.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,4},{19,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,35}}</string>
        <key>sourceSize</key>
        <string>{19,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numDate.png</string>
      <key>size</key>
      <string>{303,43}</string>
      <key>textureFileName</key>
      <string>numDate</string>
    </dict>
  </dict>
</plist>
