<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>$.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{51,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,101}}</string>
        <key>sourceSize</key>
        <string>{51,101}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,4},{64,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,81}}</string>
        <key>sourceSize</key>
        <string>{64,81}</string>
      </dict>
      <key>R.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,93},{62,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,81}}</string>
        <key>sourceSize</key>
        <string>{62,81}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,93},{57,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,83}}</string>
        <key>sourceSize</key>
        <string>{57,83}</string>
      </dict>
      <key>0.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,4},{57,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,83}}</string>
        <key>sourceSize</key>
        <string>{57,83}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,95},{56,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,83}}</string>
        <key>sourceSize</key>
        <string>{56,83}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,182},{56,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,83}}</string>
        <key>sourceSize</key>
        <string>{56,83}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,182},{55,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,82}}</string>
        <key>sourceSize</key>
        <string>{55,82}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,4},{55,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,81}}</string>
        <key>sourceSize</key>
        <string>{55,81}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,184},{52,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,83}}</string>
        <key>sourceSize</key>
        <string>{52,83}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,186},{50,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,82}}</string>
        <key>sourceSize</key>
        <string>{50,82}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,186},{36,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,82}}</string>
        <key>sourceSize</key>
        <string>{36,82}</string>
      </dict>
      <key>，.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,113},{24,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,33}}</string>
        <key>sourceSize</key>
        <string>{24,33}</string>
      </dict>
      <key>_.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,154},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>numYue.png</string>
      <key>size</key>
      <string>{289,272}</string>
      <key>textureFileName</key>
      <string>numYue</string>
    </dict>
  </dict>
</plist>
