<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{314,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{314,262}}</string>
        <key>sourceSize</key>
        <string>{314,262}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,274},{367,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{367,197}}</string>
        <key>sourceSize</key>
        <string>{367,197}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,4},{343,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{343,198}}</string>
        <key>sourceSize</key>
        <string>{343,198}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,210},{245,289}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{245,289}}</string>
        <key>sourceSize</key>
        <string>{245,289}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,479},{307,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{307,258}}</string>
        <key>sourceSize</key>
        <string>{307,258}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,507},{332,229}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{332,229}}</string>
        <key>sourceSize</key>
        <string>{332,229}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>aniClear.png</string>
      <key>size</key>
      <string>{673,741}</string>
      <key>textureFileName</key>
      <string>aniClear</string>
    </dict>
  </dict>
</plist>
