<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{169,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,178}}</string>
        <key>sourceSize</key>
        <string>{169,178}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,4},{210,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,200}}</string>
        <key>sourceSize</key>
        <string>{210,200}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,4},{200,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,216}}</string>
        <key>sourceSize</key>
        <string>{200,216}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,4},{216,225}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,225}}</string>
        <key>sourceSize</key>
        <string>{216,225}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,4},{227,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,240}}</string>
        <key>sourceSize</key>
        <string>{227,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>aniClear.png</string>
      <key>size</key>
      <string>{1062,248}</string>
      <key>textureFileName</key>
      <string>aniClear</string>
    </dict>
  </dict>
</plist>
