<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{598,578}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{598,578}}</string>
        <key>sourceSize</key>
        <string>{598,578}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,4},{598,433}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{598,433}}</string>
        <key>sourceSize</key>
        <string>{598,433}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,4},{588,402}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{588,402}}</string>
        <key>sourceSize</key>
        <string>{588,402}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,414},{578,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{578,541}}</string>
        <key>sourceSize</key>
        <string>{578,541}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,445},{564,531}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{564,531}}</string>
        <key>sourceSize</key>
        <string>{564,531}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,590},{557,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{557,541}}</string>
        <key>sourceSize</key>
        <string>{557,541}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1182,963},{557,361}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{557,361}}</string>
        <key>sourceSize</key>
        <string>{557,361}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,984},{531,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{531,511}}</string>
        <key>sourceSize</key>
        <string>{531,511}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,1503},{495,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{495,511}}</string>
        <key>sourceSize</key>
        <string>{495,511}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,1139},{315,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{315,340}}</string>
        <key>sourceSize</key>
        <string>{315,340}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,1503},{454,449}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{454,449}}</string>
        <key>sourceSize</key>
        <string>{454,449}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,1503},{382,397}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{382,397}}</string>
        <key>sourceSize</key>
        <string>{382,397}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,1332},{526,562}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{526,562}}</string>
        <key>sourceSize</key>
        <string>{526,562}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>boom.png</string>
      <key>size</key>
      <string>{1889,2018}</string>
      <key>textureFileName</key>
      <string>boom</string>
    </dict>
  </dict>
</plist>
